.header {
  width: 100%;
  display: block;
  column-gap: 3%;
  margin: 0 auto;
}

.search-area {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.search-header {
  width: 90%;
  height: 4vh;
  min-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar {
  width: 100%;
  height: 100%;
  position: relative;
}

#searchInput {
  position: relative;
  width: 90%;
  height: 100%;
  padding-left: 2%;
  border: var(--chzzk-light-gray) solid;
  border-radius: 15px;

  color: var(--chzzk-light-gray);
  background-color: var(--color-bg);
  z-index: 100;
  outline: none;

  &::placeholder {
    color: var(--chzzk-light-gray);
  }
}

#searchButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 5vw;
  height: 100%;
  padding: 1%;
  border-radius: 15px;
  border: var(--chzzk-green) solid;

  font-weight: bolder;
  color: black;
  background-color: var(--chzzk-green);
}

.search-result {
  width: 90%;
  height: 15vh;
  max-height: 150px;
  position: absolute;
  padding: clamp(1px, 0.5%, 2px) 2%;
  background-color: #2a2d30;
  /* border: var(--chzzk-light-gray) solid; */
  border-radius: 15px;

  display: grid;
  /* visibility: hidden; */
  z-index: 3;
}

.search-result {
  padding: 2% 1.5%;
}

@media screen and (max-width: 900px) {
  #searchInput .search-result {
    width: 80%;
  }

  #searchButton {
    width: 10vw;
  }
}
